.SettingBody {
    width: 100%;
    height: 20rem;
    background: #ECECEC;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.SettingBody .Content {
    padding: 0rem 2.125rem;
}

.SettingBody .Content .Title {
    color: #000;
    font-family: Inter;
    font-size: 24px;
}

.SettingBody .Content .Names {
    color: #000;
    font-family: Inter;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
}

.SettingBody .Content .Names .Press {
    padding: 0.25rem 2.125rem;
}

.SettingBody .Content .Names .Press .Slider {
    flex-shrink: 0;
}
