/*Large Slider*/
.slider {
    border-radius: 1.813rem;
    height: 2.75rem;
    width: 5.938rem;
}

.slider .ellipse {
    border-radius: 1.125rem;
    height: 2.25rem;
    position: relative;
    top: 0.25rem;
    width: 2.25rem;
}

.slider.off {
    background-color: #d9d9d9;
    transition: .2s;
}

.slider.on {
    background-color: #000;
    transition: .2s;
}

.slider.off .ellipse {
    background-color: #FFF;
    left: 0.313rem;
    transition: .2s;
}

.slider.on .ellipse {
    background-color: #353535;
    left: 3.438rem;
    transition: .2s;
}

.ellipse {
    display: flex;
    align-items: center;
    justify-content: center;
}