.chart-bar {
    height: 1.875rem;
    position: relative;
    margin: auto;
    display: flex;
    justify-content: flex-end;
}

.bar-elem {
    height: 1.063rem;
    top: 0.188rem;
    width: 2.25rem; 
    margin: 0.125rem;
    margin-top: 0.188rem;
}

.bar-left-border {
    border-radius: 3.125rem 0 0 3.125rem;
    margin-left: 0.625rem;
}

.bar-right-border {
    border-radius: 0 3.125rem 3.125rem 0;
    margin-right: 0.625rem;
}

.elem-inactive-light {
    background-color: #d9d9d9 !important; 
}

.elem-inactive-dark {
    background-color: #353535 !important; 
}

.bar-text-light {
    color: #000000;
    font-family: "Inter-Bold", Helvetica;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: normal;
    top: -0.25px;
    white-space: nowrap; 
}

.bar-text-dark {
    color: #FFFFFF;
    font-family: "Inter-Bold", Helvetica;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: normal;
    top: -0.25px;
    white-space: nowrap; 
}

