.footer-light {
    background-color: #FFF;
    display: flex;
    justify-content: space-evenly;
}

.footer-dark {
    background-color: #353535;
    display: flex;
    justify-content: space-evenly;
}
  
.icon-button-light {
    padding: 1rem 5rem;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-button-dark {
    padding: 1rem 5rem;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-button-light:hover {
    background-color: #d9d9d9;
}

.icon-button-dark:hover {
    background-color: #252525;
}
  