.info-content {
    width: 100%;
    height: 20rem;
    background: #ECECEC;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.info-content .title {
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-weight: 700;
}

.info-content .names {
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
}