.setting-body {
    height: 18rem;
    background: #ECECEC;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1rem 6rem;
}

.title {
    color: #000;
    font-family: Inter;
    font-size: 1.5rem;
    font-weight: 700;
}

.sites {
    color: #000;
    font-family: Inter;
    font-size: 1.5px;
}

.setting-bar-sm {
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
    padding: 0rem;
}

.setting-bar-sm .subheading {
    display: flex;
    align-items: center;
    padding: 0rem;
}

.setting-bar-lg {
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
    font-weight: 700;
}

.setting-bar-lg .subheading {
    display: flex;
    align-items: center;
}

